<div class="portfolio container">
    <h2>Портфолио<span class="s">s</span></h2>
    <ul class="bxslider">


        <li><a class="withImage" target="_blank" href="http://www.harizma-mebel.com/"
               title='Мебельная компания "Харизма-Мебель"'><img
                        src="{{ asset('assets/img/portfolio/1harizma-mebel/harizma-mebel.png')|imagine_filter('portfolio_slider') }}"
                        alt='Мебельная компания "Харизма-Мебель"' title='Мебельная компания "Харизма-Мебель"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/1harizma-mebel/harizma-mebel_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>


        <li><a class="withImage" target="_blank" href="http://stroy-swyaz33.colornew.ru/"
               title='Аренда спецавтотехники "Строй-связь"'><img
                        src="{{ asset('assets/img/portfolio/2stroy-swyaz33/stroy-swyaz33.png')|imagine_filter('portfolio_slider') }}"
                        alt='Аренда спецавтотехники "Строй-связь"' title='Аренда спецавтотехники "Строй-связь"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/2stroy-swyaz33/stroy-swyaz33_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://kitejtelecom.ru/"
               title='Интернет-провайдер "Китеж Телеком"'><img
                        src="{{ asset('assets/img/portfolio/3kitejtelecom/kitejtelecom.png')|imagine_filter('portfolio_slider') }}"
                        alt='Интернет-провайдер "Китеж Телеком"' title='Интернет-провайдер "Китеж Телеком"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/3kitejtelecom/kitejtelecom_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://ateza.ru/"
               title='Туристический портал "Атеза"'><img
                        src="{{ asset('assets/img/portfolio/4ateza/ateza.png')|imagine_filter('portfolio_slider') }}"
                        alt='Туристический портал "Атеза"' title='Туристический портал "Атеза"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/4ateza/ateza_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li> 
            
            
        <li><a class="withImage" target="_blank" href="http://www.1nazhdy.ru/"
               title='Праздничное агентство "Однажды..."'><img
                        src="{{ asset('assets/img/portfolio/5nazhdy/1nazhdy.png')|imagine_filter('portfolio_slider') }}"
                        alt='Праздничное агентство "Однажды..."' title='Праздничное агентство "Однажды..."'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/5nazhdy/1nazhdy_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>  
            
            
        <li><a class="withImage" target="_blank" href="http://malina33.ru/5" title='Эко-корма для животных'><img
                        src="{{ asset('assets/img/portfolio/6eco-korma/eco-korma.png')|imagine_filter('portfolio_slider') }}"
                        alt='Эко-корма для животных' title='Эко-корма для животных'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/6eco-korma/eco-korma_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://fotosoup.ru/" title='Продажа фотообоев'><img
                        src="{{ asset('assets/img/portfolio/7fotosoup/fotosoup.png')|imagine_filter('portfolio_slider') }}" alt='Продажа фотообоев'
                        title='Продажа фотообоев'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/7fotosoup/fotosoup_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>            


        <li><a class="withImage" target="_blank" href="http://astreya-konsalting.ru/"
               title='Консалтинговый центр "Астрея"'><img
                        src="{{ asset('assets/img/portfolio/8astreya/astreya.png')|imagine_filter('portfolio_slider') }}"
                        alt='Консалтинговый центр "Астрея"' title='Консалтинговый центр "Астрея"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/8astreya/astreya_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>


        <li><a class="withImage" target="_blank" href="http://smrstroy.ru/"
               title='Строительная компания "СМР-строй"'><img
                        src="{{ asset('assets/img/portfolio/9smr/smr.png')|imagine_filter('portfolio_slider') }}"
                        alt='Строительная компания "СМР-строй"' title='Строительная компания "СМР-строй"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/9smr/smr_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://arab-new.ru/"
               title='Новостной портал "ArabNew"'><img
                        src="{{ asset('assets/img/portfolio/10arab-new/arab-new.png')|imagine_filter('portfolio_slider') }}"
                        alt='Новостной портал "ArabNew"' title='Новостной портал "ArabNew"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/10arab-new/arab-new_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://akadem-stroy.ru/"
               title='Ремонт квартир'><img
                        src="{{ asset('assets/img/portfolio/11akadem-stroy.ru/akadem-stroy.png')|imagine_filter('portfolio_slider') }}"
                        alt='Ремонт квартир' title='Ремонт квартир'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/11akadem-stroy.ru/akadem-stroy_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://банк-гарантия.рф/"
               title='Сопровождение ТЕНДЕРОВ'><img
                        src="{{ asset('assets/img/portfolio/12bg/bg.png')|imagine_filter('portfolio_slider') }}"
                        alt='Сопровождение ТЕНДЕРОВ' title='Сопровождение ТЕНДЕРОВ'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/12bg/bg_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://ros-lift.ru/" title='ООО "Рослифт"'><img
                        src="{{ asset('assets/img/portfolio/13ros-lift/ros-lift.png')|imagine_filter('portfolio_slider') }}" alt='ООО "Рослифт"'
                        title='ООО "Рослифт"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/13ros-lift/ros-lift_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>


        <li><a class="withImage" target="_blank" href="http://gigmebel.ru/" title='Интернет-магазин "ГигМебели"'><img
                        src="{{ asset('assets/img/portfolio/14gigmebeli/gigmebeli.png')|imagine_filter('portfolio_slider') }}"
                        alt='Интернет-магазин "ГигМебели"' title='Интернет-магазин "ГигМебели"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/14gigmebeli/gigmebeli_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://yagoda33.ru/" title='РПФ "Ягода"'><img
                        src="{{ asset('assets/img/portfolio/15yagoda/yagoda.png')|imagine_filter('portfolio_slider') }}" alt='РПФ "Ягода"'
                        title='РПФ "Ягода"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/15yagoda/yagoda_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://malina33.ru/6" title='Ресторан "Кружка"'><img
                        src="{{ asset('assets/img/portfolio/16kb/kb.png')|imagine_filter('portfolio_slider') }}" alt='Ресторан "Кружка"'
                        title='Ресторан "Кружка"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/16kb/kb_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://hlv-vladimir.colornew.ru/"
               title='Рекламное агенство "Халява"'><img
                        src="{{ asset('assets/img/portfolio/17halyava/halyava.png')|imagine_filter('portfolio_slider') }}"
                        alt='Рекламное агенство "Халява"' title='Рекламное агенство "Халява"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/17halyava/halyava_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li> 
            
            
        <li><a class="withImage" target="_blank" href="http://intactmotors.ru/"
               title='Автотехцентр "Intact Motors"'><img
                        src="{{ asset('assets/img/portfolio/18intactmotors/intactmotors.png')|imagine_filter('portfolio_slider') }}"
                        alt='Автотехцентр "Intact Motors"' title='Автотехцентр "Intact Motors"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/18intactmotors/intactmotors_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li> 

            
        <li><a class="withImage" target="_blank" href="http://malina33.ru/1"
               title='Фабрика мягких игрушек "Плюшевая сказка"'><img
                        src="{{ asset('assets/img/portfolio/19mishki/mishki.png')|imagine_filter('portfolio_slider') }}"
                        alt='Фабрика мягких игрушек "Плюшевая сказка"'
                        title='Фабрика мягких игрушек "Плюшевая сказка"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/19mishki/mishki_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li> 
            
            
        <li><a class="withImage" target="_blank" href="http://malina33.ru/2"
               title='Компания "Зеон Групп"'><img
                        src="{{ asset('assets/img/portfolio/20zeon-system/zeon-system.png')|imagine_filter('portfolio_slider') }}"
                        alt='Компания "Зеон Групп"'
                        title='Компания "Зеон Групп"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/20zeon-system/zeon-system_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>                         


        <li><a class="withImage" target="_blank" href="http://color.beatsmagaz.ru/"
               title='Интернет-магазин наушников "Beats"'><img
                        src="{{ asset('assets/img/portfolio/21beats/beats.png')|imagine_filter('portfolio_slider') }}"
                        alt='Интернет-магазин наушников "Beats"' title='Интернет-магазин наушников "Beats"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/21beats/beats_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://inet-mebel.ru/"
               title='Интернет-магазин мягкой и корпусной мебели'><img

                        src="{{ asset('assets/img/portfolio/22inet-mebel/inet-mebel.png')|imagine_filter('portfolio_slider') }}"
                        alt='Интернет-магазин мягкой и корпусной мебели' title='Интернет-магазин мягкой и корпусной мебели'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/22inet-mebel/inet-mebel_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://masterovoy33.ru/"
               title='Интернет-магазин "Мастеровой"'><img

                        src="{{ asset('assets/img/portfolio/23masterovoy33/masterovoy33.png')|imagine_filter('portfolio_slider') }}"
                        alt='Интернет-магазин "Мастеровой"' title='Интернет-магазин "Мастеровой"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/23masterovoy33/masterovoy33_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>


        <li><a class="withImage" target="_blank" href="http://планета-солнца33.рф/"
               title='Салон красоты "Планета Солнца"'><img

                        src="{{ asset('assets/img/portfolio/24ps/ps.png')|imagine_filter('portfolio_slider') }}"
                        alt='Салон красоты "Планета Солнца"' title='Салон красоты "Планета Солнца"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/24ps/ps_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>


        <li><a class="withImage" target="_blank" href="http://zoovezu.ru/"
               title='Интернет - зоомагазин'><img

                        src="{{ asset('assets/img/portfolio/25zoovezu/zoovezu.png')|imagine_filter('portfolio_slider') }}"
                        alt='Интернет - зоомагазин' title='Интернет - зоомагазин'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/25zoovezu/zoovezu_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>


        <li><a class="withImage" target="_blank" href="http://igrazooma.ru/"
               title='"Игра Разума"'><img

                        src="{{ asset('assets/img/portfolio/26igrazooma/igrazooma.png')|imagine_filter('portfolio_slider') }}"
                        alt='"Игра Разума"' title='"Игра Разума"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/26igrazooma/igrazooma_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
     <!--       
        <li><a class="withImage" target="_blank" href="http://www.sc33.ru/"
               title='Сервисный центр "Ромашка Плюс"'><img

                        src="{{ asset('assets/img/portfolio/27sc33/sc33.png')|imagine_filter('portfolio_slider') }}"
                        alt='Сервисный центр "Ромашка Плюс"' title='Сервисный центр "Ромашка Плюс"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/27sc33/sc33_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
-->

        <li><a class="withImage" target="_blank" href="http://vladimir.egoza33.ru/"
               title='Мобильный салон красоты'><img

                        src="{{ asset('assets/img/portfolio/28vladimir.egoza33/egoza33.png')|imagine_filter('portfolio_slider') }}"
                        alt='Мобильный салон красоты' title='Мобильный салон красоты'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/28vladimir.egoza33/egoza33_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>

<!--
        <li><a class="withImage" target="_blank" href="http://kupitut-online.ru/"
               title='Электронные сигареты'><img

                        src="{{ asset('assets/img/portfolio/29kupitut-online/kupitut-online.png')|imagine_filter('portfolio_slider') }}"
                        alt='Электронные сигареты' title='Электронные сигареты'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/29kupitut-online/kupitut-online_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
-->

        <li><a class="withImage" target="_blank" href="http://malina33.ru/7"
               title='Global Circus'><img

                        src="{{ asset('assets/img/portfolio/30globalcircus/globalcircus.png')|imagine_filter('portfolio_slider') }}"
                        alt='Global Circus' title='Global Circus'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/30globalcircus/globalcircus_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            

        <li><a class="withImage" target="_blank" href="http://www.inteza33.ru/"
               title='Оконный Минимаркет'><img

                        src="{{ asset('assets/img/portfolio/31inteza33/inteza33.png')|imagine_filter('portfolio_slider') }}"
                        alt='Оконный Минимаркет' title='Оконный Минимаркет'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/31inteza33/inteza33_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
            
        <li><a class="withImage" target="_blank" href="http://эдельвейс33.рф/"
               title='Группа компаний Эдельвейс'><img

                        src="{{ asset('assets/img/portfolio/32edel/edel.png')|imagine_filter('portfolio_slider') }}"
                        alt='Группа компаний Эдельвейс' title='Группа компаний Эдельвейс'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/32edel/edel_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>
            
                            
        <li><a class="withImage" target="_blank" href="http://vip-yurist.colornew.ru/"
               title='Юристы консультации "Терра Лекс"'><img

                        src="{{ asset('assets/img/portfolio/33vip-yurist/vip-yurist.png')|imagine_filter('portfolio_slider') }}"
                        alt='Юристы консультации "Терра Лекс"' title='Юристы консультации "Терра Лекс"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/33vip-yurist/vip-yurist_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li> 
            
            
        <li><a class="withImage" target="_blank" href="http://sergey-master.ru/"
               title='Сантехнические услуги'><img

                        src="{{ asset('assets/img/portfolio/34master/master.png')|imagine_filter('portfolio_slider') }}"
                        alt='Сантехнические услуги' title='Сантехнические услуги'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/34master/master_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li> 
            
            
        <li><a class="withImage" target="_blank" href="http://angarsk-kedr.ru/"
               title='Торговый дом "Пиломатериал Ангарский, Северный"'><img

                        src="{{ asset('assets/img/portfolio/35angarsk-kedr/angarsk-kedr.png')|imagine_filter('portfolio_slider') }}"
                        alt='Торговый дом "Пиломатериал Ангарский, Северный"' title='Торговый дом "Пиломатериал Ангарский, Северный"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/35angarsk-kedr/angarsk-kedr_h.png')|imagine_filter('portfolio_slider') }}) center no-repeat;'"></div>
            </a></li>                           
    </ul>
</div>