{% if pageCount > 1 %}

    <ul class="pages">

        {% if previous is defined %}
            <li class="prev">
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lsaquo;</a>
            </li>
        {% else %}
            <li class="prev disabled">
                <span>
                    <a>&lsaquo;</a>
                </span>
            </li>
        {% endif %}

        {% if startPage > 1 %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            </li>
            {% if startPage == 3 %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                </li>
            {% elseif startPage != 2 %}
                <li class="disabled">
                    <a>&hellip;</a>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="active">
                    <a>{{ page }}</a>
                </li>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li class="disabled">
                        <a>&hellip;</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
            </li>
        {% endif %}

        {% if next is defined %}
            <li class="next">
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&rsaquo;</a>
            </li>
        {% else %}
            <li class=" next disabled">
                <span>
                    <a>&rsaquo;</a>
                </span>
            </li>
        {% endif %}
    </ul>
{% endif %}