{% extends 'default/index.html.twig' %}
    {% block meta %}
	<title>Бизнес-сайты - ColorNew Интернет Студия</title>
	<meta charset="utf-8">
        <meta name="description" content="Бизнес-сайты">
    {% endblock meta %}
{% block content %}
        <style type="text/css">
        .fancybox-wrap {
            /*width: 55% !important;*/
        }
        .fancybox-skin {
            padding: 0px !important;
        }
        .fancybox-margin {
 		   margin-right: 17px;
		}
        </style>
        <script>
        	var onLinkNavigation = true;
        </script>
        <!--~~~~~~~~~~~~~~~~~content~~~~~~~~~~~~~~~~~-->
        <div class="tariffs container">
            <div class="">
                <div class="container">
                    <!-- Module sites -->
                    <div class="tariffs container modules gotovie" role="tabpanel">
                        <div class="row">
                            <div class="col-md-3 no-padding categories">
                                <div class="header">Бизнес-сайты</div>
                                <ul>
                                    <li><a href="#buisnessMini">Готовый (мини)</a>
                                    <li ><a href="#buisnessStandart">Готовый (стандартный)</a>
                                    <li><a href="#buisnessCorporate">Корпоративный</a>
                                </ul>
                                <div class="header">Интернет-магазин</div>
                                <ul>
                                    <li><a href="#shopWithoutCart">Каталог без корзины</a>
                                    <li><a href="#shopWithCart">Каталог с корзиной</a>
                                </ul>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content" id="completedSites" style="margin-top: -42px; padding-left:0; padding-right:0;">
                                    <div class="tab-pane fade in" id="buisnessMini">
                                        <div class="description">
                                            <h2 class="caption">Сайт-визитка: Готовый(мини)</h2>
                                            <div class="content">
                                                В готовом варианте – мы предлагаем Вам на выбор несколько вариантов готового дизайна сайта, из которых Вы сможете выбрать понравившийся. Выбранный вариант мы наполняем Вашими материалами и размещаем в сеть. Данный тип сайта подойдет Вам, если нужно в кратчайшее время запустить сайт компании с минимальными затратами на разработку если требования к дизайну не критичны!
                                            </div>
                                            <div class="images">
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="{{ asset('assets/img/gotovie/mini/mini_01_fbox.jpg') }}">
                                                		<div class="preview">                                                    
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                		</div>
                                                	</a>
                                                <a href="#">
                                                	<img class='site-prev-medium' src="/assets/img/gotovie/mini/mini_01.jpg"/>
                                                </a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="{{ asset('assets/img/gotovie/mini/mini_02_fbox.jpg') }}">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
	                                                	</div>
    	                                            </a>
        	                                        <a href="#">
            		                                    <img class='site-prev-medium' src="/assets/img/gotovie/mini/mini_02.jpg"/>
                    	                            </a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="{{ asset('assets/img/gotovie/mini/mini_03_fbox.jpg') }}">
                        	                        	<div class="preview">
                                	    	                <img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                		</div>
                                                	</a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/mini/mini_03.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="{{ asset('assets/img/gotovie/mini/mini_04_fbox.jpg') }}">
                                                		<div class="preview">                                                    
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/mini/mini_04.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="{{ asset('assets/img/gotovie/mini/mini_05_fbox.jpg') }}">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/mini/mini_05.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="{{ asset('assets/img/gotovie/mini/mini_06_fbox.jpg') }}">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/mini/mini_06.jpg"/>
                                                	</a>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="buisnessStandart">
                                        <div class="description">
                                            <h2 class="caption">Сайт-визитка: Готовый(стандартный)</h2>
                                            <div class="content">
                                                В готовом варианте – мы предлагаем Вам на выбор несколько вариантов готового дизайна сайта, из которых Вы сможете выбрать понравившийся. Выбранный вариант мы наполняем Вашими материалами и размещаем в сеть. Данный тип сайта подойдет Вам, если нужно в кратчайшее время запустить сайт компании с минимальными затратами на разработку если требования к дизайну не критичны!
                                            </div>
                                            <div class="images">
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="{{ asset('assets/img/gotovie/standart/standart_01_fbox.jpg') }}">
                                                		<div class="preview">
		                                                    <img src="/assets/img/zoom.png" alt="Заказать сайт">
														</div>
        	                                        </a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/standart/standart_01.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="{{ asset('assets/img/gotovie/standart/standart_02_fbox.jpg') }}">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/standart/standart_02.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="{{ asset('assets/img/gotovie/standart/standart_03_fbox.jpg') }}">
                                                		<div class="preview">                                                    
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/standart/standart_03.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="{{ asset('assets/img/gotovie/standart/standart_04_fbox.jpg') }}">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/standart/standart_04.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="{{ asset('assets/img/gotovie/standart/standart_05_fbox.jpg') }}">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/standart/standart_05.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="{{ asset('assets/img/gotovie/standart/standart_06_fbox.jpg') }}">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/standart/standart_06.jpg"/>
                                                	</a>
                                                </article>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="tab-pane fade" id="buisnessCorporate">
                                        <div class="description">
                                            <h2 class="caption">Копоративный</h2>
                                            <div class="content">
                                                В готовом варианте – мы предлагаем Вам на выбор несколько вариантов готового дизайна сайта, из которых Вы сможете выбрать понравившийся. Выбранный вариант мы наполняем Вашими материалами и размещаем в сеть. Данный тип сайта подойдет Вам, если нужно в кратчайшее время запустить сайт компании с минимальными затратами на разработку если требования к дизайну не критичны!
                                            </div>
                                            <div class="images">
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                	</a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/sample-medium.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/sample-medium.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/sample-medium.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/sample-medium.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/sample-medium.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/sample-medium.jpg"/>
                                                	</a>
                                                </article>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="tab-pane fade" id="shopWithoutCart">
                                        <div class="description">
                                            <h2 class="caption">Каталог без корзины</h2>
                                            <div class="content">
                                                В готовом варианте – мы предлагаем Вам на выбор несколько вариантов готового дизайна сайта, из которых Вы сможете выбрать понравившийся. Выбранный вариант мы наполняем Вашими материалами и размещаем в сеть. Данный тип сайта подойдет Вам, если нужно в кратчайшее время запустить сайт компании с минимальными затратами на разработку если требования к дизайну не критичны!
                                            </div>
                                            <div class="images">
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="/assets/img/gotovie/site-katalog/site-katalog_01_fbox.jpg"/>
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/site-katalog/site-katalog_01.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="/assets/img/gotovie/site-katalog/site-katalog_02_fbox.jpg"/>
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/site-katalog/site-katalog_02.jpg"/>
                                                	</a>
                                                </article>
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group" src="/assets/img/gotovie/site-katalog/site-katalog_03_fbox.jpg"/>
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                    </a>
                                                	<a href="#">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/site-katalog/site-katalog_03.jpg"/>
                                                	</a>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="shopWithCart">
                                        <div class="description">
                                            <h2 class="caption">Каталог скорзиной</h2>
                                            <div class="content">
                                                В готовом варианте – мы предлагаем Вам на выбор несколько вариантов готового дизайна сайта, из которых Вы сможете выбрать понравившийся. Выбранный вариант мы наполняем Вашими материалами и размещаем в сеть. Данный тип сайта подойдет Вам, если нужно в кратчайшее время запустить сайт компании с минимальными затратами на разработку если требования к дизайну не критичны!
                                            </div>
                                            <div class="images">
                                                <article class='notpaginated' data-categories="">
                                                	<a href="#orderSite" class="fancybox dop" rel="group">
                                                		<div class="preview">
                                                    		<img src="/assets/img/zoom.png" alt="Заказать сайт">
                                                    	</div>
                                                	</a>
                                                	<a href="#orderSite" class="fancybox dop" rel="group">
                                                		<img class='site-prev-medium' src="/assets/img/gotovie/lite-magaz.jpg"/>
                                                	</a>
                                                </article>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end sites -->
                </div>
            </div>
        </div>

        <div id="orderSite" style="display: none;">
            <div id="screen-wrapper">
                <img src="" alt="" id="activeNowSiteItem" class="img-responsive" />
            </div>
            <div id="content-wrapper-bottom-facnybox">
                <div id="content-bottom-facnybox">
                    <div id="content-bottom-facnybox-content">
                        <div class="row" style="background: #fff;">
                            <div class="col-md-6 col-sm-6" style="text-align: center;">
                               Заказать такой сайт за <span>11 950 руб</span>. <br>
                               (или за <span>8 365 руб</span>. при заказе продвижения)
                            </div>
                            <div class="col-md-6 col-sm-6">
                               <a href="#" title="Демо" class="orderSiteBtn">Посмотреть демо</a>
                               <a href="#" title="Заказать" class="btn-podrobnee">Заказать сейчас</a>
                            </div>
                        </div>
	            </div>
                </div>
            </div>
        </div>
{% endblock %}