{% extends 'default/index.html.twig' %}
{% block meta %}
    <title>{{ entity.metaTitle }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ entity.metaDescription }}">
    <meta name="keywords" content="{{ entity.metaKeywords }}">
    <meta name="robots" content="index, follow">
    <meta name="language" content="Russian">
{% endblock meta %}
{% block content %}
        {% block banner %}
            {{ include('AppBundle:Blocks/Banners:clouds.html.twig') }}
        {% endblock %}  

        <div class="container">
            <div class="">
                <div class="container">
                    <!-- Module sites -->
                    <div class="container" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12 no-padding">
                                <div class="text-page">
                                    <h2>{{ entity.caption }}</h2>
										{{entity.content|raw}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}