{% extends 'default/index.html.twig' %}
{% block meta %}
	<title>Сайт-визитка - ColorNew Интернет Студия</title>
        <meta charset="utf-8">
        <meta name="description" content="Сайт-визитка ">
{% endblock meta %}
{% block content %}
    <!--~~~~~~~~~~~~~~~~~content~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~banner~~~~~~~~~~~~~~~~~-->
    {% block banner %}
        {{ include('AppBundle:Blocks/Banners:vizitka.html.twig') }}
    {% endblock %}
	<!--~~~~~~~~~~~~~~~~~/banner~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~razrez~~~~~~~~~~~~~~~~~-->
		<div class="razrez visible-lg">
			<div class="container">			
				<h2>Что входит в сайт-визитку</h2>
				<div class="razrez_background razrez_site-vizitka">				
					<div class="b1"><div class="b"><label for="desc1">1</label></div></div>
					<div class="b2"><div class="b"><label for="desc2">2</label></div></div>
					<div class="b3"><div class="b"><label for="desc3">3</label></div></div>
					<div class="b4"><div class="b"><label for="desc4">4</label></div></div>
					<div class="b5"><div class="bb"><label for="desc5">Дополнения к сайтам</label></div></div>
					<div class="b6"><div class="bb"><label for="desc6">Щедрые подарки</label></div></div>
				</div>
				<input type="radio" id="desc1" name="desc_radio" checked>
				<div class="desc">
					<h3>Слайдер</h3>
					<p>Слайдер – элемент веб дизайна, созданный для того, чтобы привлечь внимание посетителей к важной информации. Как правило слайдеры можно прокручивать, это осуществляется пользователем или автоматически.</p> 
					<p>Если вы хотите оригинально преподать посетителю вашего сайта важный контент, особенно если это акции и предложения, то лучше это сделать с помощью слайдера.</p>
				</div>
				<input type="radio" id="desc2" name="desc_radio">
				<div class="desc">
					<h3>Меню</h3>
					<p>Меню – разделы сайты, которые проводят пользователя на нужные страницы. </p> 
					<p>Как правило, сайт-визитка состоит из  одноуровневого меню от пяти до семи основных пунктов. При желании Заказчика мы можем расширить меню сайта визитки до уровня корпоративного и сделать его многоуровневым. </p>
				
				</div>
				<input type="radio" id="desc3" name="desc_radio">
				<div class="desc">
					<h3>Онлайн-консультант</h3>
					
					<p>Онлайн консультант – модуль, который позволяет вам общаться с вашими посетителями прямо через сайт. Такой диалог будет возможен, только когда посетитель нажмет на кнопку диалога. </p>
					<p>Онлайн консультант, очень удобная форма общения еще потому, что по переписке можно выяснить многое из того, что клиент не решился бы спросить при звонке.</p>
					
				</div>
				<input type="radio" id="desc4" name="desc_radio">
				<div class="desc">
					<h3>Форма обратной связи</h3>
					<p>Необходимость размещения на сайте формы обратной связи очевидна. Форма обратной связи позволяет вам общаться с посетителями, вести сбор необходимой информации, а также организовывать заказ товаров или услуг. </p> 
					<p>Мы предлагаем систему обратной связи на основе электронной почты. Сообщения, написанные в форме обратной связи, будут поступать на адрес электронной почты, который вы укажете.</p>
				</div>
				<input type="radio" id="desc5" name="desc_radio">
				<div class="desc">
					<h3>Дополнения к сайтам</h3>
					<p>Дополнениями к сайтам могут быть различные онлайн-калькуляторы, модули поиска, бронирования, 3D-визуализация. </p> 
					<p>Мы можем реализовать на сайте любые Ваши идеи! </p>
				</div>
				<input type="radio" id="desc6" name="desc_radio">
				<div class="desc">
					<h3>Щедрые подарки</h3>
<p>Всем клиентам при заказе сайта мы бесплатно предоставляем доменное имя на 1 год, установку онлайн-консультанта, первоначальное продвижение. </p>
<p>Кроме того, при заказе сайта Вы получаете возможность бесплатной настройки виртуальной АТС которая позволит подключить к Вашей компании прямой городской номер любого города (без привязки к проводам), либо номер 8-800.</p>
				</div>
				<p>Функционал сайта визитки определяется с каждым Заказчиком индивидуально, на изображении указаны общие наиболее часто используемые блоки.</p>
			</div>

		</div>	
	<!--~~~~~~~~~~~~~~~~~/razrez~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~konsultacia~~~~~~~~~~~~~~~~~-->
    {% block consult %}
        {{ include('AppBundle:Blocks:consult.html.twig', {
            'text': "Получите наше лучшее предложение!",
            'button': "Получить консультацию"
        }) }}
    {% endblock consult %}
    <!--~~~~~~~~~~~~~~~~~/konsultacia~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~calculate~~~~~~~~~~~~~~~~~-->
    {% block calculate %}
        {{ include('AppBundle:Blocks:calculator.html.twig', {
            'vizitka': true,
            'shop': false,
            'corp': false,
            'landing': false
        }) }}
    {% endblock calculate %}
    <!--~~~~~~~~~~~~~~~~~/calculate~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~steps~~~~~~~~~~~~~~~~~-->
    <div class="steps_for_creating container">
        <h2>Этапы создания сайта</h2>
        <div class="steps">
            <div><img src="{{asset('assets/img/ico_step_01.png')}}"><p>Перед заключением договора предоставляем бесплатно прототип сайта, согласовываем детали проекта.</p></div>
            <div><img src="{{asset('assets/img/ico_step_03.png')}}"><p>Создаём уникальный дизайн, который полностью соответствует Вашим требованиям.</p></div>
            <div><img src="{{asset('assets/img/ico_step_02.png')}}"><p>Согласовываем макет, вносим изменения. Приступаем к вёрстке и программированию.</p></div>
            <div><img src="{{asset('assets/img/ico_step_04.png')}}"><p>Публикуем проект в сети, выдаём инструкции и проводим обучение по работе с сайтом.</p></div>
        </div>
        <div class="preimuschestva">
            <img src="{{asset('assets/img/ico_pr_01.png')}}"><p>Полная прозрачность сотрудничества</p>
            <li>Оформление домена и хостинга на Вас</li>
            <li>Полный досуп к сайту, открытый исходный код</li>
            <li>Возможность переехать на другой хостинг</li>
            <img src="{{asset('assets/img/ico_pr_02.png')}}"><p>Удобная система управления</p>
            <li>Бесплатный тест-драйв системы управления</li>
            <li>100% гарантия защиты от взлома</li>
            <li>Возможность перейти к другому разработчику</li>
            <img src="{{asset('assets/img/ico_pr_03.png')}}"><p>Надёжный хостинг и техподдержка</p>
            <li>Гарантия работоспособности</li>
            <li>Бесплатная техническая поддержка</li>
            <li>Доменное имя на 1 год бесплатно!</li>
        </div>
        <a target='_blank' href="{{ path('page_display', {slug:'sale-site' }) }}" title="Скидки при заказе продвижения" class="ban_min"><img src="{{asset('assets/img/banners/skidki_50.png')}}" title="Скидки при заказе продвижения" alt="Скидки при заказе продвижения"></a>
    </div>
    <!--~~~~~~~~~~~~~~~~~/steps~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~annotations_all~~~~~~~~~~~~~~~~~-->
    <div class="annotations_all container">
        <div class="links">
            <a href="/site-vizitka.html" class="active">Сайт-визитка</a>
            <a href="/internet-magazin.html">Интернет-магазин</a>
            <a href="/korparativniy-site.html">Корпоративный сайт</a>
            <a href="/landing-page.html">Landing-page</a>
            <br>
            <a target='_blank' href="http://goo.gl/forms/lp87FWazCc"><img src="/assets/img/ico767.png">Заполнить анкету</a>
            <a target='_blank' href="{{ path('payment_page') }}"><img src="/assets/img/ico8756.png">Способы оплаты</a>
            <a target='_blank' href="{{ path('page_display', {slug:'doc' }) }}"><img src="/assets/img/ico64898.png">Наши документы</a>



        </div>
        <input type="checkbox" id="read_more">
        <div class="annotation">
            <p>Если сегодня информацию о компании нельзя найти на просторах Интернета, считайте, что ее не существует. Сайт компании нужен не только для того, чтобы продавать свои товары или услуги в Сети. Создать сайт визитку эксперты советуют всем, кто заботится об имидже собственной компании, и не важно, какого рода деятельностью она занимается. </p>
            <p>У нас можно заказать создание сайта визитки в самые короткие сроки и по самым демократичным ценам. Разработка сайта визитки и его создание занимает не более трех дней, цены на сегодняшний день стартуют от 1 195 рублей. </p>
            <p>Сайт визитка – это лицо компании в Интернете. Здесь и потенциальные и действительные клиенты могут найти всю интересующую информацию – от рода деятельности, до схемы проезда в офис. </p>
            <p>Заказать сайт визитку особенно важно для начинающих компаний. Это хорошая возможность быстро и недорого донести информацию о своих услугах массовой аудитории. Сайт визитка – недорого, но эффективно представит любую организацию в Глобальной сети. Особенно, если созданием ресурса занимаются профессионал своего дела. </p>
            <p>Наши дизайнеры индивидуально подходят к каждому заказу, предлагая заказчику оптимальный вариант и по дизайну, и по наполнению. При создании сайтов, особенно сайтов-визиток, огромное значение играет не только информационное наполнение ресурса, но и общее впечатление, которое он производит на посетителя. </p>
            <p>Мы создаем сайты, которые привлекают своей простой и понятной структурой и интерфейсом, радуют глаз цветом и оттенками, удобными шрифтами и оригинальной графикой. </p>
            <p>На сегодняшний день ничто так не привлекает клиентов в Сети, как качественный сайт визитка.Дешево и качественно создают такие ресурсы наши программисты и дизайнеры. Проще простого в этом убедиться, сделав заказ прямо сейчас.</p>
            <label for="read_more">Читать далее</label>
        </div>
    </div>
    <!--~~~~~~~~~~~~~~~~~/annotations_all~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~blog~~~~~~~~~~~~~~~~~-->
    {{ include('AppBundle:Article:preview_list.html.twig', { 'entities': articles }) }}
    <!--~~~~~~~~~~~~~~~~~/blog~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~begin_promotion~~~~~~~~~~~~~~~~~-->
    <div class="begin_promotion">
        <a>Продвижение с гарантией ТОП</a>
        <a href="{{ path('promotion_page') }}" title="Начать продвижение с гарантией ТОП">Начать</a>
    </div>
    <!--~~~~~~~~~~~~~~~~~/begin_promotion~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~/content~~~~~~~~~~~~~~~~~-->


{% endblock %}